<!DOCTYPE html>

<head>
<link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />
<link rel="stylesheet" type="text/css" href="./stylesheets/demo.css" />
<link rel="stylesheet" type="text/css" href="./stylesheets/normalize.css" />
<meta content="utf-8" http-equiv="encoding">
<meta charset="utf-8">
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
</head>

<body>
<header text-align="center">
<h1 > embr </h1>
</header>

      <svg id="dataGraph"></svg>


<div id="myModal" class="modal">
	<div class="modal-content">
    <span class="close">x</span>
    <p id="sms">Some text in the Modal..</p>
  </div>
</div>
 



<script src="./scripts/d3js.js"></script>
<script src="./scripts/graph.js"></script> 



</body>

